//background colors
$mainBgc: #263238;
$secondBgc: #37474f; // patch bgc
$bgc1: #546e7a;

//text colors
$mainText: #eceff1;
$mainLink: #ade4ff;

//other
$darkRed: #83161b;
$darkGreen: #144e16;
