@use '_colors' as c;

a:hover {
	color: c.$secondBgc;
}
/* ===============================
HEADER => components
=============================== */
.header {
	a:hover {
		background-color: #ade4ff;
		color: c.$secondBgc;
	}
	&__box-h1 {
		padding: 0 17px;
		position: absolute;
		left: 0;
		bottom: -13px;
		display: block;
		z-index: 11;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 1.5px;
		line-height: 30px;
		text-shadow: 1.5px 1.5px 2px #000;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: -2px;
			width: 180px;
			border-top: 30px solid c.$mainBgc;
			border-left: 0 transparent;
			border-right: 30px solid transparent;
			z-index: -2;
		}
		&::before {
			content: '';
			position: absolute;
			bottom: -2px;
			left: 0px;
			width: 179px;
			border-top: 30px solid #000;
			border-bottom: 0px solid transparent;
			border-left: 0 transparent;
			border-right: 30px solid transparent;
			z-index: -2;
		}
	}
}
/* ===============================
MAIN => components
=============================== */
.header__quest {
	.kappaLinkImg,
	.armbandLinkImg,
	.firLinkImg {
		position: relative;

		&:hover {
			&::after {
				content: '';
				position: absolute;
				top: 26px;
				left: 13px;
				background-repeat: no-repeat;
				background-size: 100%;
				display: block;
				width: 200px;
				height: 150px;
				border-radius: 11px;
				z-index: 1;
			}
		}
	}
	.kappaLinkImg:hover::after {
		background-image: url(../img/Kappa.webp);
	}
	.armbandLinkImg:hover::after {
		background-image: url(../img/DEADSKUL.webp);
	}
	.firLinkImg:hover::after {
		background-image: url(../img/fir.webp);
		height: 55px;
		top: 50px;
		left: -150px;
	}
}
//SECTION 1
main {
	.section {
		&__youNeed {
			&-boxInput {
				input[type='text'] {
					padding: 0.3em 0em;
					background-color: transparent;
					border: 0;
					color: #000;
					font-size: 3rem;
					font-weight: bolder;
					letter-spacing: 0.2em;
					font-weight: 700;
					text-align: center;
					width: 253px;
				}
				input[type='text']:focus {
					outline: none;
				}
				input[type='text']::placeholder {
					text-align: center;
					color: c.$secondBgc;
					text-shadow: none;
					letter-spacing: 1px;
					font-weight: 700;
				}
			}
			&-boxProgress {
				p:hover::before {
					content: 'all items - possessions = missing items';
					position: absolute;
					top: 42px;
					left: 50%;
					transform: translateX(-50%);
					padding: 0.5em 0.7em;
					background-color: c.$bgc1;
					border: 5px solid c.$secondBgc;
					border-radius: 11px;
					width: 200px;
					font-size: 1.2rem;
					z-index: 22;
					animation: slide-in 0.4s ease-out forwards;
				}
				p:hover::after {
					content: '';
					position: absolute;
					bottom: -15px;
					left: 50%;
					transform: translateX(-50%);
					border-width: 15px;
					border-style: solid;
					border-color: transparent transparent c.$secondBgc transparent;
					animation: slide-in 0.1s ease-out forwards;
				}
			}
		}
	}
}
//SECTION 2
main {
	.section__item {
		.iHaveItem {
			background-color: c.$darkGreen;
		}
		.iHaveItemImg {
			filter: grayscale(0);
		}
	}
}
/* ===============================
FOOTER => components
=============================== */
.footer {
	a:hover {
		background-color: #ade4ff;
		color: #000;
	}
	&__btnClear {
		.btnClear:hover {
			background-color: c.$mainBgc;
			border: 1px solid c.$mainLink;
			color: c.$mainText;
		}

		.btnClear:active {
			color: #000;
		}
	}
}
