@use '_colors' as c;
/* ===============================
HEADER => components
=============================== */
.header {
	&__box-h1 {
		padding: 0 17px;
		position: absolute;
		left: 0;
		bottom: -13px;
		display: block;
		z-index: 11;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 1.5px;
		line-height: 30px;
		text-shadow: 1.5px 1.5px 2px #000;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: -2px;
			width: 180px;
			border-top: 30px solid c.$mainBgc;
			border-left: 0 transparent;
			border-right: 30px solid transparent;
			z-index: -2;
		}

		&::before {
			content: '';
			position: absolute;
			bottom: -2px;
			left: 0px;
			width: 179px;
			border-top: 30px solid #000;
			border-bottom: 0px solid transparent;
			border-left: 0 transparent;
			border-right: 30px solid transparent;
			z-index: -2;
		}
	}
}
/* ===============================
MAIN => components
=============================== */
.header__quest {
	.kappaLinkImg,
	.armbandLinkImg,
	.firLinkImg {
		position: relative;

		&:hover {
			&::after {
				content: '';
				position: absolute;
				top: 26px;
				left: 13px;
				background-repeat: no-repeat;
				background-size: 100%;
				display: block;
				width: 200px;
				height: 150px;
				border-radius: 11px;
				z-index: 1;
			}
		}
	}
	.kappaLinkImg:hover::after {
		background-image: url(../img/Kappa.webp);
	}

	.armbandLinkImg:hover::after {
		background-image: url(../img/DEADSKUL.webp);
	}
	.firLinkImg:hover::after {
		background-image: url(../img/fir.webp);
		height: 55px;
		top: 50px;
		left: -150px;
	}
}
main {
	// SECTION 1
	.section {
		&__input {
			input[type='text'] {
				padding: 0.3em 0em;
				background-color: transparent;
				border: 0;
				border-bottom: 2px solid #000;
				border-bottom-left-radius: 13px;
				border-bottom-right-radius: 13px;
				color: c.$mainText;
				text-shadow: 1.5px 1.5px 2px #000;
				font-size: 2rem;
				font-weight: bolder;
				letter-spacing: 0.2em;
				text-align: center;
				width: 266px;
			}

			input[type='text']:focus {
				outline: none;
			}

			input[type='text']::placeholder {
				text-align: center;
				color: c.$secondBgc;
				text-shadow: none;
				letter-spacing: 1px;
			}
		}
	}
}
//SECTION 2
main {
	.section__item {
		.imgOk {
			filter: grayscale(0);
		}
		.itemOk {
			background-color: c.$darkGreen;
		}
	}
}
/* ===============================
FOOTER => components
=============================== */

.btn_clear {
	margin-bottom: 22px;
	padding: 0.5em 1em;
	cursor: pointer;
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid c.$secondBgc;
	border-radius: 5px;
	font-family: 'Nunito Sans', sans-serif;
	color: c.$mainText;
	font-size: 2rem;
	letter-spacing: 0.06em;
	transition: border-bottom 0.6s, color 0.2s, text-shadow 0.4s;
}

.btn_clear:hover {
	border-bottom: 1px solid c.$mainLink;
	color: c.$secondBgc;
	text-shadow: 1px 1px 2px c.$mainText;
}
